.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail h6{ color:#df388e;}
.main-gallery .gallery-sec .detail{ border-bottom: solid 4px #df388e; }
.main-gallery a.gallery-sec:hover .detail{ background:#df388e;}
.main-gallery .paging a:hover{   background: #df388e;  border: solid 1px #df388e;}
.main-gallery .paging a.selected{   background: #df388e;  border: solid 1px #df388e;}

.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail2 h6{ color:#947ebd;}
.main-gallery .gallery-sec .detail2{ border-bottom: solid 4px #947ebd; }
.main-gallery a.gallery-sec:hover .detail2{ background:#947ebd;}
.main-gallery .paging a:hover{   background: #947ebd;  border: solid 1px #947ebd;}
.main-gallery .paging a.selected{   background: #947ebd;  border: solid 1px #947ebd;}

.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail3 h6{ color:#c0b66e;}
.main-gallery .gallery-sec .detail3{ border-bottom: solid 4px #c0b66e; }
.main-gallery a.gallery-sec:hover .detail3{ background:#c0b66e;}
.main-gallery .paging a:hover{   background: #c0b66e;  border: solid 1px #c0b66e;}
.main-gallery .paging a.selected{   background: #c0b66e;  border: solid 1px #c0b66e;}

.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail4 h6{ color:#ed3541;}
.main-gallery .gallery-sec .detail4{ border-bottom: solid 4px #ed3541; }
.main-gallery a.gallery-sec:hover .detail4{ background:#ed3541;}
.main-gallery .paging a:hover{   background: #ed3541;  border: solid 1px #ed3541;}
.main-gallery .paging a.selected{   background: #ed3541;  border: solid 1px #ed3541;}

.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail5 h6{ color:#d9ad4a;}
.main-gallery .gallery-sec .detail5{ border-bottom: solid 4px #d9ad4a; }
.main-gallery a.gallery-sec:hover .detail5{ background:#d9ad4a;}
.main-gallery .paging a:hover{   background: #d9ad4a;  border: solid 1px #d9ad4a;}
.main-gallery .paging a.selected{   background: #d9ad4a;  border: solid 1px #d9ad4a;}

.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail6 h6{ color:#e5d245;}
.main-gallery .gallery-sec .detail6{ border-bottom: solid 4px #e5d245; }
.main-gallery a.gallery-sec:hover .detail6{ background:#e5d245;}
.main-gallery .paging a:hover{   background: #e5d245;  border: solid 1px #e5d245;}
.main-gallery .paging a.selected{   background: #e5d245;  border: solid 1px #e5d245;}

.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail7 h6{ color:#d1a049;}
.main-gallery .gallery-sec .detail7{ border-bottom: solid 4px #d1a049; }
.main-gallery a.gallery-sec:hover .detail7{ background:#d1a049;}
.main-gallery .paging a:hover{   background: #d1a049;  border: solid 1px #d1a049;}
.main-gallery .paging a.selected{   background: #d1a049;  border: solid 1px #d1a049;}



.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail8 h6{ color:#3595c3;}
.main-gallery .gallery-sec .detail8{ border-bottom: solid 4px #3595c3; }
.main-gallery a.gallery-sec:hover .detail8{ background:#3595c3;}
.main-gallery .paging a:hover{   background: #3595c3;  border: solid 1px #3595c3;}
.main-gallery .paging a.selected{   background: #3595c3;  border: solid 1px #3595c3;}


.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail15 h6{ color:#496ca2;}
.main-gallery .gallery-sec .detail15{ border-bottom: solid 4px #496ca2; }
.main-gallery a.gallery-sec:hover .detail15{ background:#496ca2;}
.main-gallery .paging a:hover{   background: #496ca2;  border: solid 1px #496ca2;}
.main-gallery .paging a.selected{   background: #496ca2;  border: solid 1px #496ca2;}



.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail9 h6{ color:#259b85;}
.main-gallery .gallery-sec .detail9{ border-bottom: solid 4px #259b85; }
.main-gallery a.gallery-sec:hover .detail9{ background:#259b85;}
.main-gallery .paging a:hover{   background: #259b85;  border: solid 1px #259b85;}
.main-gallery .paging a.selected{   background: #259b85;  border: solid 1px #259b85;}



.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail10 h6{ color:#c7938b;}
.main-gallery .gallery-sec .detail10{ border-bottom: solid 4px #c7938b; }
.main-gallery a.gallery-sec:hover .detail10{ background:#c7938b;}
.main-gallery .paging a:hover{   background: #c7938b;  border: solid 1px #c7938b;}
.main-gallery .paging a.selected{   background: #c7938b;  border: solid 1px #c7938b;}


.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail11 h6{ color:#992c2a;}
.main-gallery .gallery-sec .detail11{ border-bottom: solid 4px #992c2a; }
.main-gallery a.gallery-sec:hover .detail11{ background:#992c2a;}
.main-gallery .paging a:hover{   background: #c7938b;  border: solid 1px #992c2a;}
.main-gallery .paging a.selected{   background: #992c2a;  border: solid 1px #992c2a;}


.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail12 h6{ color:#3f8078;}
.main-gallery .gallery-sec .detail12{ border-bottom: solid 4px #3f8078; }
.main-gallery a.gallery-sec:hover .detail12{ background:#3f8078;}
.main-gallery .paging a:hover{   background: #3f8078;  border: solid 1px #3f8078;}
.main-gallery .paging a.selected{   background: #3f8078;  border: solid 1px #3f8078;}


.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail13 h6{ color:#1286b7;}
.main-gallery .gallery-sec .detail13{ border-bottom: solid 4px #1286b7; }
.main-gallery a.gallery-sec:hover .detail13{ background:#1286b7;}
.main-gallery .paging a:hover{   background: #1286b7;  border: solid 1px #1286b7;}
.main-gallery .paging a.selected{   background: #1286b7;  border: solid 1px #1286b7;}

.main-gallery .layer i{ background:#000000;}
.main-gallery .gallery-sec .detail13 h6{ color:#62b849;}
.main-gallery .gallery-sec .detail13{ border-bottom: solid 4px #62b849; }
.main-gallery a.gallery-sec:hover .detail13{ background:#62b849;}
.main-gallery .paging a:hover{   background: #62b849;  border: solid 1px #62b849;}
.main-gallery .paging a.selected{   background: #62b849;  border: solid 1px #62b849;}
